.card {
    width: 99%;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    
  }

  .favBtn{
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline-width: 0;
  }

  .favBtn:hover{
      background-color: rgba(110, 110, 110, 0.8);
      cursor: pointer;
  }