.content{
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
}

.listItem{
    border-top: 1px solid rgb(168, 168, 168);
    width: auto;
    height: 500px;
    width: auto;
    overflow-y: scroll;
    
}




.searchBar{
    text-align: center; 
    input{
       
        margin: 8px 0;
        height: 20px;
        border-bottom: 1px solid chartreuse;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        width: 200px;
        background-color: transparent;
        outline-width: 0;
        color: chartreuse;
    }

    
}
.category{
    display: flex;
    color: white;
    li{
        list-style: none;
        button{
            margin: 4px;
            background-color: transparent;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            outline-width: 0;
        }
    }

}

::-webkit-scrollbar {
    width: 5px;
   
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(102, 102, 102); 
    margin-top: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #888;  */
    background: rgb(168, 168, 168);
    
  }